<div class="container">
          <!-- Modal button start-->
<div class="modal fade" id="exModal1button" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Give to <%= result[0].countryName %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <p>You can change lives for eternity...</p>
          <button type="button" class="btn btn-primary">$6</button>
          <button type="button" class="btn btn-primary">$15</button>
          <button type="button" class="btn btn-primary">$30</button>
          <button type="button" class="btn btn-primary">$50</button>
          <button type="button" class="btn btn-primary">$100</button>
          <button type="button" class="btn btn-primary">$Other</button>
      </div>
    </div>
  </div>
</div>
   <!-- Modal button end-->
        <div class="media-container-row">
            <div class="media-content mb-4">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exModal1button">DONATE</button>
                   </div>
        </div>
    </div>
