<section class="mbr-section article content1 cid-qQrznI5Bnd" id="content1-11">
<br /><br /><br /><br /><br />
    <div class="container">
        <div class="media-container-row">
              <h2 class="mbr-section-title pb-2 align-center mbr-fonts-style display-2">
                Thank you for Signing up!<br /><a href="/">Take me back</a>
              </h2>
            </div>
    </div>
</section>

<section class="mbr-section content6 cid-qQrOPLTdou" id="content6-16">
